apiVersion: v1
kind: Service
metadata:
  name: java-sample-app
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
  selector:
    app: java-sample-app